.form {
    display : flex;
    justify-content : center;
    align-items : flex-start;
    flex-direction : column;
}
label {
    color : #8a2b06 ;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}

@media (max-width: 768px) {
    .form button{
        width: 100%;
        font-size : smaller ;
        padding: 1px;
        border-radius: 20px;
        font-weight: normal;
    }
}
@media (max-width: 768px) {
    .form {
        font-size : smaller ;
        align-items : center;
        width: auto ;
    }
}

