.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover,
.button:active {
    background-color: #2c0d00;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
}
@media (max-width: 768px) {
    .button {
        padding: 0.75rem 1rem;
        border-radius: 25px;
        font-weight: smaller;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
}

.badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}


@media (max-width: 768px) {
    .badge {
        padding: 0.25rem 0.5rem;
        border-radius: 25px;
        margin-left: 0.5rem;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
}

.button:hover .badge,
.button:active .badge {
    background-color: #92320c;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
    transform: scale(1);
    }
    10% {
    transform: scale(0.9);
    }
    30% {
    transform: scale(1.1);
    }
    50% {
    transform: scale(1.15);
    }
    100% {
    transform: scale(1);
    }
}