@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  background-image: url('./Assets/SVG/chef-menu-vectorportal.svg') ;
  background-size: 300px;
  height:  200vh ;
  background-repeat: repeat;
}


.btn {
  font: inherit;
  cursor: pointer;
  width : 100px ;
  height : 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #8a2b06;
  border: 2px solid #f0e8e5;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 2px 18px 7px rgba(255 255 255 /0.25);
  
}



.btn:hover,
.btn:active {
  color: #641e03;
  background-color: #f8eaea;
  border-color: #641e03;
  box-shadow: 0 2px 18px 7px rgba(255 255 255 /0.25);
}

.btn:disabled{
  background-color: #3f3f3f;
  color: #eee;
  border: 1px solid #eee;
}

